[submodule "src/lib/haxeui-core"]
	path = src/lib/haxeui-core
	url = https://github.com/haxeui/haxeui-core
[submodule "src/lib/haxeui-openfl"]
	path = src/lib/haxeui-openfl
	url = https://github.com/haxeui/haxeui-openfl